


// _bp576.scss

// min-width rule prevents hambergerNav showing
// if viewport resizes while hamberger nav is visible
@media (min-width: 577px) {
  .hambergerNavContainer {
    display: none;
  }
}



@media (max-width: 576px){
  //  ===============================
  //   ////////// header ///////////
  //  ===============================
  .topNavContainer{
    position: relative;
    ul{
      display: none;
    }

    .hambergerMenu{
      width: 100%;
      display: block;


      i{
        font-size: 1.4rem;
        margin:2.5% 2% 0 0;
      }

      text-align: right;

      &:hover{
        cursor: pointer;
        color: $grey;
      }
    }

    h1{
      position: absolute;
      left: 0;
      top: 30%;
    }
  }

  .hambergerNavContainer {
    position: relative;
    width: 100%;
    height: 100vh;

    .hambergerNavToggle{
      display: block;
    }
    .hambergerNav {
      z-index: 10;
      background-color: $lightSage;
      height: 100vh;
      width: 100%;
      position: absolute;

      ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 30%;
        
        li{
          margin: 0;
          margin-top: 6%;
          font-size: 1.3rem;
          color: $black;
        }
        li:hover{
          a{

            color: $darkSage;
          }
        }
        li:nth-child(6),
        li:nth-child(7){
          &:hover {
              &::after {
                visibility:hidden;
              }
              i{
                color: $darkSage;
              }
            }
        }
      }

    }
  }



  //  ===============================
  //   ///////// home.html //////////
  //  ===============================

  .speacialtyTextContainer{
    margin-left: 8%;
  }



  //  ===============================
  //   ///////// blog.html //////////
  //  ===============================
  .blogHeader{
    height: 350px;
    background-size: contain;
  }

  .relatedPosts,
  .comments,
  .leaveComment{
    h6{
      font-size: 1.2rem;
    }
  }

  .blogMainAutorContainer{
    img{
      width: 55px;
    }
  }

  .blogMainInfo{
    h4{
      text-align: center;
    }
  }

  .formContainer{
    &::before{
      top: -45px;
    }
  }



  //  ===============================
  //   /////// contact.html ////////
  //  ===============================
  h1{
    z-index: 5;
  }

  .headerImgContainer{
    background-position: left;
  }

  .contactIntroContainer p{
    width: 100%;
  }

  .contactDetailInfoContainer{
    width: 100%;
  }



}