


// _bp992.scss

//  ===============================
//   ////////// header ///////////
//  ===============================
.hambergerMenu{
  display: none;
}
.hambergerNav{
  display: none;
}


@media (max-width: 992px){
  //  ===============================
  //   ////////// general ///////////
  //  ===============================
  .wrapper{
    width: 85%;
  }


  
}

