


// _color.scss
$lightSage: #C3DAB7;
$darkSage: #99af8d;

$white: #FFFFFF;
$whiteTwo: #F6F6F6;


// greys are listed from light to dark
$lighterGrey: #d3d3d3;
$grey: #a19c9c;
$darkerWhiteTwo: #595959;
$black: #333333;
$defaultBlack: #000000;
