


// _generalStyling.scss
.wrapper{
  width: 70%;
  margin: 0 auto;
}



//  ===============================
//   ////// greyLine suedos //////
//  ===============================
.greyLineVertical{
  position: relative;
  &::after{
    height: 15%;
    position: absolute;
    left: 50%;
    bottom:-8%;
    content: "";
    border-right: 1px solid $grey;
  }
}

.glvContact{
  // this is for .greyLinevertical on contact page 
  &::after {
    height: 120%;
    position: absolute;
    right: 0;
    bottom: -10%;
    content: "";
    border-right: 1px solid $lighterGrey;
  }
}

.greyLineHorizontal {
  position: relative;
  &::before {
    // set width and left starting position on the element accordingly
    // set color if desired color is not black
    position: absolute;
    content: "";
    border-bottom: 1px solid;
    top: -30px;
  }
}
.glhBlog {
  // this is for .greyLineHorizontal on blog page 
  &::before {
    width: 100%;
    left: 0;
    border-color: $lighterGrey;
  }
}



.buttonOne{
  &:hover{
    background-color: $grey;
    color: $white;
  }
}

.buttonSubmit{
  &:hover{
    background-color: $darkSage;
    color: $white;
  }
}