html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 1.85rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
}

h3 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

h5 {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

a {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.navText {
  font-size: 0.7rem;
  letter-spacing: 0.021rem;
}
.navText i {
  font-size: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #333333;
}

.pBold {
  font-weight: 700;
  color: #000000;
}

.pLight {
  color: #595959;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05rem;
}

h1,
h2,
h3,
h4,
h5,
header a,
button {
  text-transform: uppercase;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.greyLineVertical {
  position: relative;
}
.greyLineVertical::after {
  height: 15%;
  position: absolute;
  left: 50%;
  bottom: -8%;
  content: "";
  border-right: 1px solid #a19c9c;
}

.greyLineHorizontal {
  position: relative;
}
.greyLineHorizontal::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid;
  top: -30px;
}

.glhBlog::before {
  width: 100%;
  left: 0;
  border-color: #d3d3d3;
}

.buttonOne:hover {
  background-color: #a19c9c;
  color: #FFFFFF;
}

.buttonSubmit:hover {
  background-color: #99af8d;
  color: #FFFFFF;
}

header nav,
header ul {
  display: flex;
}
header nav {
  align-items: baseline;
  padding-top: 3%;
  justify-content: space-between;
}
header h1,
header ul {
  width: 25%;
}
header ul:nth-child(3) {
  justify-content: flex-end;
}
header h1 {
  text-align: center;
}
header li {
  margin-left: 10%;
}
header li:first-child {
  margin-left: 0;
}
header li:nth-child(4) {
  margin-left: 5%;
}
header li {
  position: relative;
}
header li::after {
  width: 100%;
  position: absolute;
  content: "";
  border-bottom: 1px solid #a19c9c;
  bottom: 50%;
  left: 0;
  visibility: hidden;
}
header li:hover::after {
  visibility: visible;
}

.topNavContainer ul:nth-child(3) li:nth-child(3):hover a,
.topNavContainer ul:nth-child(3) li:nth-child(4):hover a {
  color: #99af8d;
}
.topNavContainer ul:nth-child(3) li:nth-child(3):hover::after,
.topNavContainer ul:nth-child(3) li:nth-child(4):hover::after {
  visibility: hidden;
}

footer {
  background-color: #333333;
  padding: 15% 0 30px 0;
  color: #FFFFFF;
}
footer p,
footer a {
  color: #FFFFFF;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15% 0;
}

.footerTextContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footerContainer li:nth-child(2) {
  align-items: center;
}
.footerContainer li:nth-child(3) {
  align-items: end;
}

.snsLinkIconsContainer {
  display: flex;
}
.snsLinkIconsContainer li {
  font-size: 1rem;
  margin-right: 5%;
}

footer h4 {
  margin-bottom: 18%;
}

footer p {
  margin-bottom: 10%;
}

footer li {
  font-size: 0.7rem;
  margin-bottom: 3%;
}

.footerBlogLinks li {
  list-style: disc;
}

footer form {
  width: 90%;
  display: flex;
  justify-content: end;
}
footer input {
  width: 70%;
  padding: 4%;
  border: none;
}
footer button {
  background-color: #C3DAB7;
  width: 20%;
  border: 0;
}

.footerBanner {
  text-align: center;
}
.footerBanner::before {
  width: 142%;
  left: -21%;
  border-color: #595959;
}
.footerBanner h4 {
  margin: 0;
  font-weight: 400;
}

.homeHeader {
  background-image: url(./assets/home-1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 77vh;
}

.aboutUs {
  background: #C3DAB7;
}

.aboutUs .wrapper {
  padding: 20% 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionAboutUsPicturesContainer {
  width: 60%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.sectionAboutUsPicturesContainer img:nth-of-type(1) {
  justify-content: center;
  width: 75%;
}
.sectionAboutUsPicturesContainer img:nth-of-type(2) {
  position: absolute;
  width: 38%;
  left: -4%;
  top: -33%;
}

.sectionABoutUsTextContainer {
  width: 75%;
  margin: 10% 0 0 0;
}
.sectionABoutUsTextContainer ul {
  display: flex;
  justify-content: space-between;
}
.sectionABoutUsTextContainer ul li {
  width: 45%;
}

.sectionAboutUsTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portfolio {
  background: #FFFFFF;
}

.portfolio .wrapper {
  padding: 10% 0 10% 0;
}

.sectionPortfolioCarouselContainer,
.imgAndTextContainer {
  display: flex;
}

.sectionPortfolioCarouselContainer {
  align-items: center;
  justify-content: space-around;
}

.imgAndTextContainer {
  flex-direction: column;
  align-items: center;
}
.imgAndTextContainer img {
  width: 28%;
  border-radius: 50%;
  margin: 0 0 5% 0;
}
.imgAndTextContainer p {
  width: 65%;
  text-align: center;
}

.specialty {
  background-image: url(./assets/home-4.jpeg);
  background-position: center;
  background-size: cover;
}

.specialty .wrapper {
  width: 100%;
  padding: 15% 0 15% 50%;
  display: flex;
  position: relative;
}

.sectionSpecialtyContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.speacialtyIconAndTextContainer {
  display: flex;
  align-items: center;
}

.icons,
.iconsM,
.iconsP,
.iconsS {
  position: relative;
}
.icons i:nth-of-type(1),
.iconsM i:nth-of-type(1),
.iconsP i:nth-of-type(1),
.iconsS i:nth-of-type(1) {
  font-size: 3rem;
}
.icons i:nth-of-type(2),
.iconsM i:nth-of-type(2),
.iconsP i:nth-of-type(2),
.iconsS i:nth-of-type(2) {
  font-size: 1.5rem;
  position: absolute;
  left: 12px;
  top: 12px;
}

.iconsM i:nth-of-type(2) {
  left: 11px;
}

.iconsP i:nth-of-type(2) {
  left: 15.5px;
}

.iconsS i:nth-of-type(2) {
  left: 13.5px;
}

.specialty .wrapper ul {
  margin-left: 5%;
}
.specialty .wrapper ul:first-child {
  margin-left: 0;
}

.speacialtyIconAndTextContainer {
  margin-bottom: 25%;
}

.sectionSpeacialtyContainer li:last-child {
  margin-bottom: 0;
}

.speacialtyTextContainer {
  margin-left: 14%;
}

.meetOurTeam {
  background-color: #FFFFFF;
}

.meetOurTeam .wrapper {
  padding: 15% 0 10% 0;
}

.meetOurTeam h2 {
  margin-bottom: 9%;
}

.teamGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galleryTile {
  width: calc((100% - 48px) / 4);
  margin-bottom: 16px;
}
.galleryTile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamGalleryContainer div:first-of-type {
  background-color: #F6F6F6;
  width: calc((100% - 48px) / 4 * 2 + 16px);
  padding: 10% 3% 3% 3%;
}
.teamGalleryContainer div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4% 0 4%;
}

.meetOurTeam h4 {
  margin-bottom: 4%;
}

.dropUsALineContainer,
.dropUsALineTextContainer {
  display: flex;
}

.dropUsALineTextContainer {
  background-color: #C3DAB7;
  flex-direction: column;
  align-items: center;
}
.dropUsALineTextContainer p {
  text-align: center;
}
.dropUsALineTextContainer button {
  border: none;
  background-color: #FFFFFF;
  padding: 5% 5% 5% 5%;
}

.dropUsALineTextContainer {
  width: 50%;
  padding: 10% 10% 10% 10%;
}

.dropUsALineBackgroundContainer {
  width: 50%;
  background-image: url(./assets/home-10.jpeg);
  background-size: cover;
}

.dropUsALine h2 {
  margin-bottom: 15%;
}
.dropUsALine p {
  margin-bottom: 10%;
}

.blogHeader {
  background-image: url(./assets/blog-1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 67vh;
}

.blogMain h5 {
  margin: 15% 0 1.2% -0.4%;
}
.blogMain .blogTitle {
  margin-bottom: 6.5%;
}
.blogMain .blogTitle span {
  color: #a19c9c;
}

.blogMainInfo {
  display: flex;
  align-items: center;
  margin-left: 0.4%;
  margin-bottom: 10%;
}
.blogMainInfo p {
  color: #a19c9c;
}
.blogMainInfo li {
  width: 18%;
}
.blogMainInfo li:nth-child(2) {
  margin-left: auto;
}

.blogMainAutorContainer {
  display: flex;
  align-items: center;
}
.blogMainAutorContainer img {
  width: 35%;
  border-radius: 50%;
}
.blogMainAutorContainer div {
  margin-left: 5%;
}

.blogContents p {
  margin-top: 2%;
}

.blogContentsSnsIcons {
  margin-top: 2%;
  display: flex;
}
.blogContentsSnsIcons li {
  margin-left: 1%;
}
.blogContentsSnsIcons li:first-child {
  margin-left: 0;
}

h6 {
  margin-top: 15%;
}

.relatedPostsContainer {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
}
.relatedPostsContainer li {
  width: calc(33.3333333333% - 16px);
}
.relatedPostsContainer li img {
  max-width: 100%;
}

.commentsContainer {
  width: 100%;
  margin-top: 6%;
  display: flex;
}
.commentsContainer div:first-child {
  width: 14%;
}
.commentsContainer div:first-child img {
  max-width: 100%;
}

.triangleLeft {
  margin-left: 3%;
  margin-top: 2%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #d3d3d3;
}

.commentsText {
  background-color: #d3d3d3;
  width: 90%;
  padding: 2% 5% 5% 4%;
}
.commentsText span {
  color: #99af8d;
}
.commentsText p:first-child {
  font-weight: 600;
  color: #000000;
}
.commentsText p:nth-child(2) {
  color: #595959;
}
.commentsText p:last-child {
  color: #a19c9c;
}

.formContainer {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formContainer::before {
  top: -55px;
}
.formContainer div:first-child,
.formContainer div:nth-child(2),
.formContainer div:nth-child(3) {
  width: calc(33.3333333333% - 10px);
}
.formContainer div:first-child input,
.formContainer div:nth-child(2) input,
.formContainer div:nth-child(3) input {
  width: 100%;
}
.formContainer .textareaContainer {
  width: 100%;
  height: 200px;
  margin-top: 5%;
}
.formContainer textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.formContainer input,
.formContainer textarea,
.formContainer button {
  border: none;
  border-bottom: 1px solid #a19c9c;
}
.formContainer input:hover,
.formContainer textarea:hover,
.formContainer button:hover {
  border-bottom: 1.5px solid #333333;
}
.formContainer input:hover::-moz-placeholder, .formContainer textarea:hover::-moz-placeholder, .formContainer button:hover::-moz-placeholder {
  color: darkgrey;
}
.formContainer input:hover:-ms-input-placeholder, .formContainer textarea:hover:-ms-input-placeholder, .formContainer button:hover:-ms-input-placeholder {
  color: darkgrey;
}
.formContainer input:hover::placeholder,
.formContainer textarea:hover::placeholder,
.formContainer button:hover::placeholder {
  color: darkgrey;
}
.formContainer input:focus,
.formContainer textarea:focus,
.formContainer button:focus {
  outline: none;
  background-color: #d3d3d3;
}
.formContainer button {
  margin-top: 40%;
  background: none;
  font-weight: 500;
}
.formContainer button:hover {
  background-color: #d3d3d3;
}

.leaveComment {
  margin-bottom: 13%;
}/*# sourceMappingURL=style.css.map */